/* ------- Main Page Responsive Styles ----- */

@media screen and (max-width: 443px) {
	.filter-options { 
		width: 100%;
		height: auto;
		padding-top: 2%;
	}

	.filter-options select {
		max-width: 100%;
		margin-right: 10px;
	}

	#restaurants-list li {
		width:90%;
		margin: 0px auto;
		padding: 10px 2px;
	}

	#restaurants-list .restaurant-img {
		max-width: 100%;
		min-height: auto;
	}
}

@media screen and (min-width: 444px) {
	.filter-options {
		width: 100%;
		height: auto;
		padding-top: 2%;
	}
}

@media screen and (min-width: 444px) and (max-width: 614px) {
	#restaurants-list li {
		min-width: 390px;
		margin: 0px auto;
		padding: 10px 2px;
	}
}

@media screen and (min-width: 615px) {
	#restaurants-list {
		display: inline-flex;
		flex-wrap: wrap;
	}

	#restaurants-list li {
		max-width: 100%;
		margin: 5px auto;
		padding: 5px;
	}

	#restaurants-list .restaurant-img {
		max-width: 100%;
		min-height: auto;
	}
}

/* ----- Restaurant Info Responsive Styles ----- */

@media screen and (max-width: 700px) {
	#restaurant-name {
		background-color: purple;
	}

} 